### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
Total_players=pd.DataFrame({"Total Players":[len(purchase_data["SN"].unique())]})
Total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
Summary_df=pd.DataFrame({
    "Number of Unique Items":[len(purchase_data["Item Name"].unique())],
    "Average Price":['${:.2f}'.format(purchase_data["Price"].mean())],
    "Number of Purchases":[len(purchase_data["Purchase ID"].unique())],
    "Total Revenue":['${:.2f}'.format(purchase_data["Price"].sum())]
})
Summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
 def percentage(x):
      pct = float(x/SN_Clean["Gender"].count() * 100)
      return round(pct, 2)

In [6]:

SN_Clean=purchase_data.drop_duplicates(subset=['SN'])

Gender_Demographics=SN_Clean["Gender"].value_counts()

Gender_percen=['{:.2f}%'.format(x) for x in (Gender_Demographics.apply(percentage))]

GD_df=pd.DataFrame({
    "Total Count":Gender_Demographics,
    "Percentage of Players":Gender_percen
})
GD_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
p_a=purchase_data.groupby("Gender")
P_count=p_a["Price"].count()

In [8]:
Av_pc=['${:.2f}'.format(x) for x in p_a["Price"].mean()]

In [9]:
T_pv=['${:.2f}'.format(x) for x in p_a["Price"].sum()]

In [10]:
s_a=SN_Clean.groupby("Gender")
Av_tpc=['${:.2f}'.format(x) for x in s_a["Price"].mean()]

In [11]:
pag=pd.DataFrame({
    "Purchase Count":P_count,
    "Average Purchase Price":Av_pc,
    "Total Purchase Value":T_pv,
    "Avg Total Purchase per Person":Av_tpc
})
pag

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.17
Male,652,$3.02,$1967.64,$3.05
Other / Non-Disclosed,15,$3.35,$50.19,$3.41

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
bins = [0,10, 15, 19, 25, 30,35,39,50]
group_names=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [13]:
SN_Clean["Age Demographic"] = pd.cut(SN_Clean["Age"], bins, labels=group_names, include_lowest=False)
SN_Clean

<ipython-input-13-dd9dc053704e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SN_Clean["Age Demographic"] = pd.cut(SN_Clean["Age"], bins, labels=group_names, include_lowest=False)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographic
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10

In [14]:
 def percent(x):
      pct = float(x/SN_Clean["Age Demographic"].count() * 100)
      return round(pct, 2)

In [15]:
A_D=SN_Clean.groupby("Age Demographic")
T_C=A_D["SN"].count()
T_CP=['{:.2f}%'.format(x) for x in T_C.apply(percent)]
T_Cdf=pd.DataFrame({
    "Total Count":T_C,
    "Percentage of Players":T_CP
})
T_Cdf

                 Total Count Percentage of Players
Age Demographic
<10                       24                 4.17%
10-14                     41                 7.12%
15-19                     81                14.06%
20-24                    301                52.26%
25-29                     59                10.24%
30-34                     37                 6.42%
35-39                     21                 3.65%
40+                       12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
bins = [0,10, 15, 19, 25, 30,35,39,50]
group_names=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [17]:
purchase_data["Age Demographic"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=False)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographic
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [18]:
PA_AD=purchase_data.groupby("Age Demographic")
Pur_c=PA_AD["Price"].count()
Pur_c

Age Demographic
<10       32
10-14     54
15-19    101
20-24    424
25-29     77
30-34     52
35-39     27
40+       13
Name: Price, dtype: int64

In [19]:
Pur_av=['${:.2f}'.format(x) for x in PA_AD["Price"].mean()]
Pur_av

['$3.40', '$2.90', '$3.04', '$3.06', '$2.88', '$2.99', '$3.54', '$2.94']

In [20]:
Pur_sum=['${:.2f}'.format(x) for x in PA_AD["Price"].sum()]
Pur_sum

['$108.96',
 '$156.60',
 '$307.24',
 '$1295.96',
 '$221.42',
 '$155.71',
 '$95.64',
 '$38.24']

In [21]:
A_D=SN_Clean.groupby("Age Demographic")
Pur_C=['${:.2f}'.format(x) for x in A_D["Price"].mean()]
Pur_C

['$3.42', '$2.94', '$3.14', '$3.06', '$2.90', '$3.00', '$3.36', '$3.04']

In [22]:
Pur_df=pd.DataFrame({
    "Purchase Count":Pur_c,
    "Average Purchase Price":Pur_av,
    "Total Purchase Value":Pur_sum,
    "Avg Total Purchase per Person":Pur_C
})
Pur_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Demographic,,,,
<10,32,$3.40,$108.96,$3.42
10-14,54,$2.90,$156.60,$2.94
15-19,101,$3.04,$307.24,$3.14
20-24,424,$3.06,$1295.96,$3.06
25-29,77,$2.88,$221.42,$2.90
30-34,52,$2.99,$155.71,$3.00
35-39,27,$3.54,$95.64,$3.36
40+,13,$2.94,$38.24,$3.04

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
Top_Spenders=purchase_data.groupby("SN")
TSP_Count=Top_Spenders["Price"].count()

In [24]:
TSP_Mean=['${:.2f}'.format(x) for x in Top_Spenders["Price"].mean()]
TSP_Mean

['$2.28',
 '$4.48',
 '$4.91',
 '$4.32',
 '$1.79',
 '$3.64',
 '$1.09',
 '$2.99',
 '$3.39',
 '$3.74',
 '$3.08',
 '$2.82',
 '$2.96',
 '$4.40',
 '$4.00',
 '$4.80',
 '$4.09',
 '$2.96',
 '$1.61',
 '$3.33',
 '$4.32',
 '$4.40',
 '$4.91',
 '$1.56',
 '$2.18',
 '$1.76',
 '$1.96',
 '$2.69',
 '$2.21',
 '$1.03',
 '$3.54',
 '$4.60',
 '$1.01',
 '$3.08',
 '$3.93',
 '$3.45',
 '$4.23',
 '$3.79',
 '$4.48',
 '$1.10',
 '$2.89',
 '$3.07',
 '$3.09',
 '$3.45',
 '$1.14',
 '$1.75',
 '$1.79',
 '$3.39',
 '$4.84',
 '$2.49',
 '$3.45',
 '$3.27',
 '$2.15',
 '$2.50',
 '$1.00',
 '$2.85',
 '$2.79',
 '$1.55',
 '$4.54',
 '$1.70',
 '$3.39',
 '$3.31',
 '$4.48',
 '$1.75',
 '$1.54',
 '$4.90',
 '$1.70',
 '$3.19',
 '$2.96',
 '$4.35',
 '$2.96',
 '$1.70',
 '$1.33',
 '$4.18',
 '$3.09',
 '$2.48',
 '$4.74',
 '$4.51',
 '$3.06',
 '$2.59',
 '$4.58',
 '$3.02',
 '$2.15',
 '$2.05',
 '$4.17',
 '$3.94',
 '$4.93',
 '$3.87',
 '$3.82',
 '$1.98',
 '$3.19',
 '$3.14',
 '$3.07',
 '$3.92',
 '$4.64',
 '$3.27',
 '$2.05',
 '$2.05',
 '$4.28',
 '$4.40',
 '$4.80',
 '$2.10',
 '$2.68',
 '$1.52',
 '$2.22',
 '$3.58',
 '$4.61',
 '$2.84',
 '$1.77',
 '$3.19',
 '$2.94',
 '$3.70',
 '$3.29',
 '$3.58',
 '$2.52',
 '$2.08',
 '$1.54',
 '$1.01',
 '$3.08',
 '$4.94',
 '$3.16',
 '$4.32',
 '$2.58',
 '$2.96',
 '$2.71',
 '$3.76',
 '$1.97',
 '$3.14',
 '$4.32',
 '$3.97',
 '$4.35',
 '$4.99',
 '$4.40',
 '$4.48',
 '$4.88',
 '$1.74',
 '$3.04',
 '$2.88',
 '$3.40',
 '$3.94',
 '$1.54',
 '$4.35',
 '$1.70',
 '$3.08',
 '$1.79',
 '$4.60',
 '$2.50',
 '$3.49',
 '$1.10',
 '$2.22',
 '$2.04',
 '$3.10',
 '$2.49',
 '$2.85',
 '$1.02',
 '$3.87',
 '$2.07',
 '$1.79',
 '$2.67',
 '$2.67',
 '$2.18',
 '$2.27',
 '$3.27',
 '$3.09',
 '$3.67',
 '$2.85',
 '$1.60',
 '$2.47',
 '$1.03',
 '$4.35',
 '$1.29',
 '$2.59',
 '$3.08',
 '$4.48',
 '$4.64',
 '$4.40',
 '$4.91',
 '$4.91',
 '$3.75',
 '$3.53',
 '$4.08',
 '$2.67',
 '$2.95',
 '$2.05',
 '$1.79',
 '$3.93',
 '$1.44',
 '$1.88',
 '$4.23',
 '$4.43',
 '$1.02',
 '$4.19',
 '$4.43',
 '$3.54',
 '$3.08',
 '$1.63',
 '$2.86',
 '$3.09',
 '$3.81',
 '$3.77',
 '$1.66',
 '$4.40',
 '$1.97',
 '$3.81',
 '$3.17',
 '$3.43',
 '$4.40',
 '$1.02',
 '$3.55',
 '$1.66',
 '$2.96',
 '$2.05',
 '$3.07',
 '$3.47',
 '$2.23',
 '$3.47',
 '$3.28',
 '$1.54',
 '$1.40',
 '$2.50',
 '$3.75',
 '$1.61',
 '$3.61',
 '$1.98',
 '$1.35',
 '$3.08',
 '$4.23',
 '$1.71',
 '$3.95',
 '$3.16',
 '$3.10',
 '$1.75',
 '$1.61',
 '$3.81',
 '$2.75',
 '$3.12',
 '$1.66',
 '$4.07',
 '$1.66',
 '$3.19',
 '$4.60',
 '$2.07',
 '$2.74',
 '$3.79',
 '$3.50',
 '$3.15',
 '$3.86',
 '$1.10',
 '$3.82',
 '$4.35',
 '$4.23',
 '$2.22',
 '$1.63',
 '$2.05',
 '$1.97',
 '$2.18',
 '$2.85',
 '$1.02',
 '$4.23',
 '$2.53',
 '$1.14',
 '$3.61',
 '$3.08',
 '$3.67',
 '$4.58',
 '$2.84',
 '$3.54',
 '$4.58',
 '$1.45',
 '$4.40',
 '$4.35',
 '$1.77',
 '$3.30',
 '$1.56',
 '$3.70',
 '$3.40',
 '$3.79',
 '$1.02',
 '$3.79',
 '$2.07',
 '$4.86',
 '$4.37',
 '$2.47',
 '$3.46',
 '$1.33',
 '$3.03',
 '$2.21',
 '$1.44',
 '$3.07',
 '$4.35',
 '$3.48',
 '$4.08',
 '$1.02',
 '$1.54',
 '$3.39',
 '$4.88',
 '$2.18',
 '$2.05',
 '$4.40',
 '$1.87',
 '$1.14',
 '$2.99',
 '$3.39',
 '$2.22',
 '$4.19',
 '$1.33',
 '$3.16',
 '$4.90',
 '$3.77',
 '$4.64',
 '$3.25',
 '$3.54',
 '$4.65',
 '$3.84',
 '$4.08',
 '$3.44',
 '$1.94',
 '$2.50',
 '$1.70',
 '$3.29',
 '$3.65',
 '$2.27',
 '$1.09',
 '$3.27',
 '$2.48',
 '$3.42',
 '$2.71',
 '$4.94',
 '$3.67',
 '$1.33',
 '$2.19',
 '$3.14',
 '$1.56',
 '$3.15',
 '$2.15',
 '$2.28',
 '$1.62',
 '$1.98',
 '$1.74',
 '$2.89',
 '$2.92',
 '$2.94',
 '$1.94',
 '$3.30',
 '$3.97',
 '$4.19',
 '$4.88',
 '$2.83',
 '$3.34',
 '$2.27',
 '$2.52',
 '$2.96',
 '$4.23',
 '$3.47',
 '$1.92',
 '$1.74',
 '$3.36',
 '$2.89',
 '$2.95',
 '$3.65',
 '$3.79',
 '$1.56',
 '$2.50',
 '$4.35',
 '$3.44',
 '$1.94',
 '$1.56',
 '$1.40',
 '$2.18',
 '$2.38',
 '$2.64',
 '$3.76',
 '$2.73',
 '$2.37',
 '$4.35',
 '$3.53',
 '$3.08',
 '$2.62',
 '$3.03',
 '$1.35',
 '$2.17',
 '$4.66',
 '$1.44',
 '$3.53',
 '$4.76',
 '$2.18',
 '$1.75',
 '$2.66',
 '$4.90',
 '$3.75',
 '$2.74',
 '$3.16',
 '$2.37',
 '$1.28',
 '$4.18',
 '$3.87',
 '$4.23',
 '$2.60',
 '$4.93',
 '$1.44',
 '$4.07',
 '$1.84',
 '$2.37',
 '$3.39',
 '$3.44',
 '$3.82',
 '$3.85',
 '$3.32',
 '$1.83',
 '$1.99',
 '$1.56',
 '$2.77',
 '$3.58',
 '$2.69',
 '$3.27',
 '$3.82',
 '$4.18',
 '$4.58',
 '$1.48',
 '$1.29',
 '$1.79',
 '$4.75',
 '$1.63',
 '$3.43',
 '$4.86',
 '$1.54',
 '$1.02',
 '$3.03',
 '$1.76',
 '$4.58',
 '$4.40',
 '$2.27',
 '$3.08',
 '$3.49',
 '$3.33',
 '$4.23',
 '$4.23',
 '$3.54',
 '$2.91',
 '$1.97',
 '$3.45',
 '$2.22',
 '$3.27',
 '$3.02',
 '$2.27',
 '$3.65',
 '$4.18',
 '$4.41',
 '$4.23',
 '$4.08',
 '$4.94',
 '$4.60',
 '$1.87',
 '$3.39',
 '$3.47',
 '$2.94',
 '$3.18',
 '$4.74',
 '$3.41',
 '$4.43',
 '$4.59',
 '$1.03',
 '$1.75',
 '$3.44',
 '$4.23',
 '$1.33',
 '$2.18',
 '$3.30',
 '$3.41',
 '$2.68',
 '$3.35',
 '$2.05',
 '$3.08',
 '$1.33',
 '$3.63',
 '$3.46',
 '$1.97',
 '$3.46',
 '$2.71',
 '$4.24',
 '$2.83',
 '$1.23',
 '$4.19',
 '$3.34',
 '$3.24',
 '$1.75',
 '$2.60',
 '$3.81',
 '$2.63',
 '$3.14',
 '$2.83',
 '$4.40',
 '$4.32',
 '$3.45',
 '$4.48',
 '$3.39',
 '$1.66',
 '$4.35',
 '$2.85',
 '$2.45',
 '$4.75',
 '$3.89',
 '$1.77',
 '$4.00',
 '$2.23',
 '$4.24',
 '$1.40',
 '$2.42',
 '$4.40',
 '$1.44',
 '$2.85',
 '$2.05',
 '$3.54',
 '$4.40',
 '$3.26',
 '$2.07',
 '$4.88',
 '$3.85',
 '$4.40',
 '$1.71',
 '$2.96',
 '$3.27',
 '$1.14',
 '$2.94',
 '$2.96',
 '$3.58',
 '$4.05',
 '$3.65',
 '$4.14',
 '$2.53',
 '$3.70',
 '$3.94',
 '$2.49',
 '$4.24',
 '$1.79',
 '$2.71',
 '$2.02',
 '$1.76',
 '$1.79',
 '$3.46',
 '$2.89',
 '$2.74',
 '$1.94',
 '$3.45',
 '$1.10',
 '$2.66',
 '$3.77',
 '$4.15',
 '$4.74',
 '$2.73',
 '$3.27',
 '$4.09',
 '$2.48',
 '$2.38',
 '$2.68',
 '$3.34',
 '$1.06',
 '$3.03',
 '$3.65',
 '$4.40',
 '$3.55',
 '$3.75',
 '$3.45',
 '$4.14',
 '$4.94',
 '$4.43',
 '$3.44',
 '$4.75',
 '$4.48',
 '$1.10',
 '$3.46',
 '$2.07',
 '$3.01',
 '$4.58',
 '$3.94',
 '$2.68']

In [25]:
TSP_Sum=['${:.2f}'.format(x) for x in Top_Spenders["Price"].sum()]
TSP_Sum

['$2.28',
 '$4.48',
 '$4.91',
 '$4.32',
 '$1.79',
 '$7.29',
 '$1.09',
 '$8.98',
 '$6.79',
 '$3.74',
 '$3.08',
 '$5.63',
 '$2.96',
 '$4.40',
 '$4.00',
 '$4.80',
 '$4.09',
 '$2.96',
 '$1.61',
 '$3.33',
 '$8.64',
 '$4.40',
 '$4.91',
 '$1.56',
 '$2.18',
 '$1.76',
 '$3.91',
 '$5.38',
 '$2.21',
 '$1.03',
 '$3.54',
 '$4.60',
 '$1.01',
 '$3.08',
 '$7.86',
 '$3.45',
 '$4.23',
 '$7.58',
 '$4.48',
 '$1.10',
 '$2.89',
 '$9.22',
 '$3.09',
 '$3.45',
 '$1.14',
 '$3.51',
 '$1.79',
 '$6.78',
 '$4.84',
 '$2.49',
 '$3.45',
 '$3.27',
 '$4.31',
 '$2.50',
 '$1.00',
 '$5.70',
 '$5.58',
 '$1.55',
 '$9.09',
 '$1.70',
 '$3.39',
 '$6.63',
 '$4.48',
 '$1.75',
 '$1.54',
 '$4.90',
 '$1.70',
 '$3.19',
 '$5.92',
 '$4.35',
 '$2.96',
 '$1.70',
 '$1.33',
 '$4.18',
 '$3.09',
 '$7.44',
 '$4.74',
 '$9.03',
 '$6.12',
 '$5.18',
 '$4.58',
 '$6.03',
 '$4.29',
 '$2.05',
 '$8.35',
 '$3.94',
 '$4.93',
 '$3.87',
 '$11.46',
 '$1.98',
 '$3.19',
 '$3.14',
 '$3.07',
 '$3.92',
 '$4.64',
 '$3.27',
 '$2.05',
 '$2.05',
 '$8.55',
 '$4.40',
 '$4.80',
 '$6.30',
 '$5.36',
 '$3.05',
 '$2.22',
 '$3.58',
 '$13.83',
 '$2.84',
 '$1.77',
 '$3.19',
 '$8.82',
 '$3.70',
 '$6.58',
 '$3.58',
 '$2.52',
 '$2.08',
 '$1.54',
 '$1.01',
 '$6.15',
 '$4.94',
 '$3.16',
 '$4.32',
 '$5.17',
 '$2.96',
 '$5.42',
 '$7.52',
 '$1.97',
 '$6.28',
 '$4.32',
 '$3.97',
 '$4.35',
 '$4.99',
 '$4.40',
 '$4.48',
 '$4.88',
 '$1.74',
 '$6.08',
 '$5.76',
 '$3.40',
 '$3.94',
 '$1.54',
 '$4.35',
 '$1.70',
 '$3.08',
 '$1.79',
 '$4.60',
 '$2.50',
 '$3.49',
 '$1.10',
 '$2.22',
 '$2.04',
 '$3.10',
 '$2.49',
 '$2.85',
 '$1.02',
 '$3.87',
 '$4.14',
 '$1.79',
 '$2.67',
 '$2.67',
 '$2.18',
 '$4.55',
 '$3.27',
 '$3.09',
 '$7.34',
 '$2.85',
 '$1.60',
 '$4.94',
 '$1.03',
 '$4.35',
 '$1.29',
 '$5.19',
 '$3.08',
 '$4.48',
 '$4.64',
 '$4.40',
 '$4.91',
 '$4.91',
 '$3.75',
 '$3.53',
 '$4.08',
 '$2.67',
 '$5.89',
 '$2.05',
 '$1.79',
 '$3.93',
 '$1.44',
 '$3.75',
 '$4.23',
 '$4.43',
 '$1.02',
 '$8.37',
 '$4.43',
 '$3.54',
 '$3.08',
 '$1.63',
 '$8.57',
 '$3.09',
 '$3.81',
 '$3.77',
 '$1.66',
 '$4.40',
 '$1.97',
 '$3.81',
 '$9.50',
 '$6.86',
 '$4.40',
 '$1.02',
 '$7.11',
 '$1.66',
 '$5.91',
 '$2.05',
 '$3.07',
 '$3.47',
 '$4.46',
 '$3.47',
 '$6.55',
 '$1.54',
 '$4.19',
 '$2.50',
 '$7.49',
 '$1.61',
 '$3.61',
 '$1.98',
 '$2.71',
 '$3.08',
 '$4.23',
 '$1.71',
 '$11.84',
 '$3.16',
 '$3.10',
 '$1.75',
 '$3.23',
 '$7.62',
 '$5.49',
 '$6.25',
 '$3.32',
 '$4.07',
 '$1.66',
 '$3.19',
 '$4.60',
 '$2.07',
 '$8.23',
 '$7.59',
 '$7.00',
 '$3.15',
 '$15.45',
 '$1.10',
 '$3.82',
 '$4.35',
 '$12.70',
 '$2.22',
 '$1.63',
 '$2.05',
 '$1.97',
 '$2.18',
 '$2.85',
 '$1.02',
 '$4.23',
 '$5.06',
 '$1.14',
 '$3.61',
 '$6.17',
 '$7.35',
 '$4.58',
 '$2.84',
 '$3.54',
 '$4.58',
 '$2.89',
 '$4.40',
 '$4.35',
 '$1.77',
 '$3.30',
 '$1.56',
 '$11.11',
 '$13.62',
 '$11.37',
 '$1.02',
 '$3.79',
 '$2.07',
 '$4.86',
 '$13.10',
 '$4.94',
 '$3.46',
 '$1.33',
 '$3.03',
 '$4.42',
 '$1.44',
 '$3.07',
 '$4.35',
 '$6.97',
 '$4.08',
 '$1.02',
 '$1.54',
 '$3.39',
 '$4.88',
 '$2.18',
 '$2.05',
 '$4.40',
 '$1.87',
 '$1.14',
 '$5.98',
 '$3.39',
 '$2.22',
 '$4.19',
 '$1.33',
 '$3.16',
 '$4.90',
 '$3.77',
 '$9.29',
 '$6.49',
 '$3.54',
 '$4.65',
 '$11.51',
 '$8.17',
 '$3.44',
 '$1.94',
 '$2.50',
 '$1.70',
 '$6.58',
 '$7.30',
 '$2.27',
 '$1.09',
 '$3.27',
 '$2.48',
 '$6.84',
 '$5.43',
 '$4.94',
 '$7.33',
 '$1.33',
 '$4.38',
 '$3.14',
 '$1.56',
 '$6.30',
 '$4.29',
 '$4.56',
 '$3.24',
 '$1.98',
 '$3.48',
 '$2.89',
 '$2.92',
 '$2.94',
 '$1.94',
 '$6.60',
 '$3.97',
 '$4.19',
 '$4.88',
 '$5.66',
 '$10.02',
 '$2.27',
 '$2.52',
 '$2.96',
 '$4.23',
 '$3.47',
 '$3.83',
 '$1.74',
 '$3.36',
 '$2.89',
 '$8.86',
 '$3.65',
 '$18.96',
 '$3.12',
 '$2.50',
 '$4.35',
 '$3.44',
 '$1.94',
 '$1.56',
 '$1.40',
 '$2.18',
 '$2.38',
 '$5.28',
 '$7.52',
 '$2.73',
 '$2.37',
 '$4.35',
 '$3.53',
 '$3.08',
 '$5.25',
 '$3.03',
 '$2.70',
 '$4.33',
 '$4.66',
 '$1.44',
 '$3.53',
 '$4.76',
 '$2.18',
 '$1.75',
 '$5.31',
 '$4.90',
 '$3.75',
 '$5.48',
 '$3.16',
 '$2.37',
 '$1.28',
 '$4.18',
 '$3.87',
 '$4.23',
 '$2.60',
 '$4.93',
 '$1.44',
 '$4.07',
 '$3.69',
 '$2.37',
 '$3.39',
 '$3.44',
 '$3.82',
 '$3.85',
 '$6.64',
 '$5.49',
 '$3.97',
 '$1.56',
 '$8.31',
 '$7.16',
 '$5.38',
 '$3.27',
 '$3.82',
 '$4.18',
 '$4.58',
 '$1.48',
 '$1.29',
 '$1.79',
 '$9.50',
 '$1.63',
 '$10.30',
 '$4.86',
 '$1.54',
 '$1.02',
 '$3.03',
 '$1.76',
 '$4.58',
 '$4.40',
 '$2.27',
 '$3.08',
 '$3.49',
 '$3.33',
 '$4.23',
 '$4.23',
 '$7.07',
 '$8.73',
 '$1.97',
 '$3.45',
 '$2.22',
 '$3.27',
 '$9.05',
 '$2.27',
 '$3.65',
 '$4.18',
 '$8.82',
 '$4.23',
 '$4.08',
 '$4.94',
 '$4.60',
 '$1.87',
 '$3.39',
 '$3.47',
 '$8.83',
 '$6.36',
 '$4.74',
 '$3.41',
 '$4.43',
 '$9.18',
 '$1.03',
 '$1.75',
 '$10.33',
 '$4.23',
 '$1.33',
 '$2.18',
 '$6.61',
 '$3.41',
 '$5.36',
 '$6.71',
 '$2.05',
 '$3.08',
 '$1.33',
 '$7.26',
 '$10.37',
 '$1.97',
 '$6.91',
 '$5.43',
 '$4.24',
 '$8.48',
 '$2.45',
 '$4.19',
 '$6.69',
 '$6.47',
 '$1.75',
 '$2.60',
 '$3.81',
 '$7.89',
 '$3.14',
 '$5.66',
 '$4.40',
 '$4.32',
 '$3.45',
 '$4.48',
 '$10.18',
 '$1.66',
 '$8.71',
 '$2.85',
 '$2.45',
 '$4.75',
 '$7.78',
 '$1.77',
 '$4.00',
 '$4.46',
 '$4.24',
 '$1.40',
 '$2.42',
 '$4.40',
 '$1.44',
 '$2.85',
 '$2.05',
 '$3.54',
 '$4.40',
 '$3.26',
 '$2.07',
 '$4.88',
 '$7.71',
 '$4.40',
 '$1.71',
 '$2.96',
 '$3.27',
 '$1.14',
 '$2.94',
 '$5.92',
 '$3.58',
 '$4.05',
 '$3.65',
 '$4.14',
 '$5.05',
 '$7.39',
 '$11.83',
 '$2.49',
 '$4.24',
 '$5.36',
 '$8.13',
 '$4.04',
 '$1.76',
 '$1.79',
 '$3.46',
 '$2.89',
 '$5.47',
 '$1.94',
 '$3.45',
 '$1.10',
 '$5.32',
 '$3.77',
 '$8.30',
 '$4.74',
 '$2.73',
 '$6.54',
 '$4.09',
 '$2.48',
 '$2.38',
 '$5.35',
 '$6.69',
 '$1.06',
 '$3.03',
 '$3.65',
 '$4.40',
 '$3.55',
 '$3.75',
 '$3.45',
 '$4.14',
 '$4.94',
 '$4.43',
 '$3.44',
 '$4.75',
 '$4.48',
 '$1.10',
 '$3.46',
 '$6.22',
 '$6.02',
 '$4.58',
 '$7.89',
 '$8.03']

In [26]:
TSP_df=pd.DataFrame({
    "Purchase Count":TSP_Count,
    "Average Purchase Price":TSP_Mean,
    "Total Purchase Value":TSP_Sum   
})
TSP_df

               Purchase Count Average Purchase Price Total Purchase Value
SN
Adairialis76                1                  $2.28                $2.28
Adastirin33                 1                  $4.48                $4.48
Aeda94                      1                  $4.91                $4.91
Aela59                      1                  $4.32                $4.32
Aelaria33                   1                  $1.79                $1.79
...                       ...                    ...                  ...
Yathecal82                  3                  $2.07                $6.22
Yathedeu43                  2                  $3.01                $6.02
Yoishirrala98               1                  $4.58                $4.58
Zhisrisu83                  2                  $3.94                $7.89
Zontibe81                   3                  $2.68                $8.03

[576 rows x 3 columns]

In [27]:
A_TSP_df=TSP_df.sort_values(by="Total Purchase Value",ascending=False)
A_TSP_df.head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
Pop_Items=purchase_data.groupby(["Item ID","Item Name"])

In [29]:
Pop_count=Pop_Items["Price"].count()
Pop_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [30]:
Pop_TP=Pop_Items["Price"].sum()
Pop_TP

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [31]:
Item_price=Pop_Items["Price"].unique()
Item_price

Item ID  Item Name
0        Splinter                                              [1.28]
1        Crucifer                                        [3.26, 1.99]
2        Verdict                                               [2.48]
3        Phantomlight                                          [2.49]
4        Bloodlord's Fetish                                     [1.7]
                                                             ...
178      Oathbreaker, Last Hope of the Breaking Storm          [4.23]
179      Wolf, Promise of the Moonwalker                       [4.48]
181      Reaper's Toll                                         [1.66]
182      Toothpick                                             [4.03]
183      Dragon's Greatsword                                   [1.09]
Name: Price, Length: 179, dtype: object

In [32]:
Pop_df=pd.DataFrame({
    "Purchase Count":Pop_count,
    "Item Price":Item_price,
    "Total Purchase Value":['${:.2f}'.format(x) for x in Pop_TP]
})
Pop_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,[1.28],$5.12
1,Crucifer,4,"[3.26, 1.99]",$11.77
2,Verdict,6,[2.48],$14.88
3,Phantomlight,6,[2.49],$14.94
4,Bloodlord's Fetish,5,[1.7],$8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12,[4.23],$50.76
179,"Wolf, Promise of the Moonwalker",6,[4.48],$26.88
181,Reaper's Toll,5,[1.66],$8.30
182,Toothpick,3,[4.03],$12.09
183,Dragon's Greatsword,3,[1.09],$3.27

In [33]:
A_Pop_df=Pop_df.sort_values(by="Purchase Count",ascending=False)
A_Pop_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,"[4.88, 4.19]",$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,[4.23],$50.76
145,Fiery Glass Crusader,9,[4.58],$41.22
132,Persuasion,9,"[3.19, 3.33]",$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,[3.53],$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [34]:
Pop_df=pd.DataFrame({
    "Purchase Count":Pop_count,
    "Item Price":Item_price,
    "Total Purchase Value":Pop_TP
})
Pop_df.head()

                            Purchase Count    Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4        [1.28]                  5.12
1       Crucifer                         4  [3.26, 1.99]                 11.77
2       Verdict                          6        [2.48]                 14.88
3       Phantomlight                     6        [2.49]                 14.94
4       Bloodlord's Fetish               5         [1.7]                  8.50

In [35]:
D_Pop_df=Pop_df.sort_values(by="Total Purchase Value",ascending=False)
D_Pop_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,"[4.88, 4.19]",59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,[4.23],50.76
82,Nirvana,9,[4.9],44.10
145,Fiery Glass Crusader,9,[4.58],41.22
103,Singed Scalpel,8,[4.35],34.80

# Pandas Homework - Observable trends

### Gender Observation
* Males represents the 84% of players in the game
  * They have bought around $1968.00 in te period this mean more than the 75% purchases have been made by men.
  * Although per purchase women spent more than men.

### Purchases Observations
*The most profitable market for the videogame has between 20-24 years
    *Have purchase $1296.00

### Items Observations
*The most profitable item is the "Final Critic" with a total purchase value of $59.99 and a repetion of 13 purchases.